h1 {
  margin: auto;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

form > div:first-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form > div:nth-child(2) {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-right: 35%;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

form > div:nth-child(2) > span {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(128, 128, 128, 0.418);
  height: 30px;
  font-size: x-large;
  border: black 2px solid;
}

form > div:nth-child(2) > span:hover {
  background-color: rgba(128, 128, 128, 0.685);
}

#carInput {
  margin-top: 15px;
  width: 40%;
  height: 40px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  background: transparent;
}

#submit {
  margin-top: 15px;
  height: 40px;
  width: 10%;
  background-color: rgba(255, 255, 255, 0.466);
  font-weight: bold;
}

html {
  background-image: url("https://eskipaper.com/images/car-backgrounds-hd-1.jpg");
}

#output {
  margin: auto;
  margin-top: 30px;
  width: 500px;
  height: max-content;
  background: rgba(128, 128, 128, 0.589);
  display: none;
  flex-direction: column;
}

#output > img {
  width: 480px;
  align-self: center;
  margin-top: 5px;
}

#output > label {
  background-color: rgba(0, 0, 0, 0.342);
  width: fit-content;
  color: blanchedalmond;
  font-size: 30px;
  margin-bottom: 5px;
}

span > img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  margin-top: 1px;
  margin-left: 4px;
}

@media only screen and (max-width: 600px) {
  #carInput {
    width: 80%;
  }
  #submit {
    width: 20%;
  }
  form > div:nth-child(2) {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-right: 35%;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  form > div:nth-child(2) > span {
    font-size: large;
  }
  #output {
    width: 100%;
    height: max-content;
  }
  #output > img {
    width: 80%;
  }
  #output > label {
    font-size: large;
  }
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
